@model Restaurante_APP.Models.Restaurante
@{
    ViewBag.Title = "Create Restaurante";
}

<div class="body-content">
    <br />
    <h2>CADASTRO DE RESTAURANTE</h2>
    <fieldset class="scheduler-border">
        <legend  class="scheduler-border">Dados</legend>
        @using (Html.BeginForm(FormMethod.Post))
        {
            <div class="form-indent">
                @Html.AntiForgeryToken()
                <p class="p-label-error">Nome do restaurante</p>
                <div class="div-error">
                    @Html.ValidationMessageFor(model => model.restaurante_name)
                </div>
                @Html.EditorFor(model => model.restaurante_name, new { htmlAttributes = new { @class = "form-control" } })
                <br />

                <a href="/Restaurante/Read" class="btn btn-danger button-red">
                    <span class="glyphicon glyphicon-remove"></span> Cancelar
                </a>
                &nbsp;&nbsp;&nbsp;
                <button type="submit" class="btn btn-success button-green">
                    <span class="glyphicon glyphicon-floppy-save"></span> Salvar
                </button>
            </div>
            }
    </fieldset>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}