/* Barra de navegacao branca com texto preto*/
.navbar-custom {
    color: black;
    background-color: #fff;
    border-color: #000;
    border: solid 2px !important;
    font-size: 18px;
    font-weight: bold;
}

/* Fieldset*/
fieldset.scheduler-border {
    border-color: #000;
    border: solid 2px !important;
    padding: 0 10px 10px 10px;
    border-bottom: yes;
}

legend.scheduler-border {
    width: auto !important;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

/* Cores botoes */
.button-green {
    background-color: green;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
}

.button-red {
    background-color: red;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
}

.button-blue {
    background-color: #00008b;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
}

/* Cor icone*/
.icon-red {
    color: red;
}

.icon-blue {
    color: blue;
}

/* Tabela design */
div.scroll {
    background-color: #ffffff;
    width: 1050px;
    height: 300px;
    overflow: auto;
}

table.restaurante {
    background-color: #e7e7e7;
    border-collapse: collapse;
    width: 100%;
}

th.icon {
    text-align: right;
    width: 60px;
    background-color: #cdcdcd;
}

th.restaurante {
    text-align: left;
    background-color: #cdcdcd;
    font-size: 18px;
}

td.restaurante {
    text-align: left;
    padding: 5px;
}

tr.restaurante:nth-child(even) {
    background-color: #f5f5f5;
}

div.form-indent{
    padding-left: 40px;
    padding-right: 40px;
}

div.div-error{
    font-size: 12px;
    font-weight: normal;
    color: #f00;
    display:inline;
}

p.p-label-error{
    display: inline;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 30px;
    padding-right: 30px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 580px;
}
